@model IEnumerable<NewSIGASE.Dto.Response.SalaListaDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Salas Cadastradas</h1>

<p>
    <a asp-action="Create">Cadastrar nova Sala.</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tipo de Sala")
            </th>
            <th>
                @Html.DisplayName("Identificador da Sala")
            </th>
            <th>
                @Html.DisplayName("Capacidade de Alunos")
            </th>
            <th>
                @Html.DisplayName("Quantidade de Equipamentos")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentificadorSala)
            </td>           
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadeAlunos)
            </td>       
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeEquipamentos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>
