@model IEnumerable<NewSIGASE.Dto.Response.UsuarioListaDto>

@{
    ViewData["Title"] = "Index";
}

<h3>Usuários</h3>


<table class="table table-striped">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Matricula)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Perfil)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Endereco.Logradouro)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Endereco.Numero)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Endereco.Complemento)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Endereco.Bairro)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Endereco.Cep)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Endereco.Cidade)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Endereco.UF)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Endereco.Pais)
			</th>
			<th style="padding-left: 10%">Ações</th>
		</tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Matricula)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Nome)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Email)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Perfil)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Endereco.Logradouro)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Endereco.Numero)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Endereco.Complemento)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Endereco.Bairro)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Endereco.Cep)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Endereco.Cidade)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Endereco.UF)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Endereco.Pais)
			</td>
			<td style="text-align:right">
				<a class="btn btn-outline-dark" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
				<a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Remover</a>
			</td>
		</tr>
        }
    </tbody>
</table>
<hr />
<div>
    <a class="btn btn-outline-success" style="margin-left: 87%" asp-action="Create">Novo Usuário</a>
</div>