@model IEnumerable<NewSIGASE.Dto.Response.AgendamentoListaDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Agendamentos</h1>

<p>
    <a asp-action="Create">Agendar Local</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Data Criação")
            </th>
            <th>
                @Html.DisplayName("Data Agendada")
            </th>
            <th>
                @Html.DisplayName("Período")
            </th>
            <th>
                @Html.DisplayName("Sala")
            </th>
            <th>
                @Html.DisplayName("Tipo Local")
            </th>
            <th>
                @Html.DisplayName("Usuário")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAgendada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
